{% load i18n admin_static %}


<table class="table table-striped table-condensed" style="border-bottom:1px solid #DDD">
<thead>
{#<tr>#}
{#    <th colspan="{{ result_headers|length }}">{{ title }}</th>#}
{#</tr>#}
<tr>
{% for header in result_headers %}
<th scope="col" class="{{ header.class }}" {% if forloop.first %}style="border-left:none" {% endif %}>
   <div class="text"><span>{{ header.text|capfirst }}</span></div>
   <div class="clear"></div>
</th>
{% endfor %}
</tr>
</thead>
<tbody>

{% for result in results %}
<tr>
    {% for item in result.itens %}
      <td {% if forloop.first %}style="border-left:none" {% endif %}>
          {% if item.url %}
              <a href="{{ item.url }}">
                  {% if item.is_date %}
                      {{ item.value|date:'d/m/Y H:i' }}
                  {% else %}
                      {{ item.value }}
                  {% endif %}
              </a>
          {% else %}
              {% if item.is_date %}
                  {{ item.value|date:'d/m/Y H:i' }}
              {% else %}
                  {{ item.value }}
              {% endif %}
          {% endif %}
      </td>
    {% endfor %}
</tr>
{% empty %}
    <tr>
        <td colspan="{{ result_headers|length }}" >{% trans 'No records found' %}</td>
    </tr>
{% endfor %}
</tbody>
</table>

