.results input[type="radio"],
.results input[type="checkbox"]{
    margin:0;
}

.justify{
    text-align: justify;
}

td.text-aling-center , th.text-aling-center{
    text-align: center;
}

.text-aling-center{
    text-align: center;
}

.results .action-checkbox-column{
    width: 18px;
    text-align: center;
}

.empty-form{
    display:none;
}

td input.span6{
    width: 100%;
}

select{
    width: auto;
}

td.original p{
    margin:0px;
}

fieldset table.table thead th{
    padding:5px 4px 8px 4px;
}

fieldset table.table tr td{
    padding:4px;
}

fieldset table.table tr th{
    width: auto;
}

fieldset table.table tr td input[type='text']{
     width: 95%;
 }